doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'
        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true

        types:
            spf_result: App\Smtp\Doctrine\Type\SpfResultType
            dkim_result: App\Smtp\Doctrine\Type\DkimResultType
            dmarc_result: App\Smtp\Doctrine\Type\DmarcResultType

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            Smtp:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Smtp/Entity'
                prefix: 'App\Smtp\Entity'
                alias: Smtp
#            SmtpSpfChecker:
#                type: attribute
#                is_bundle: false
#                dir: '%kernel.project_dir%/src/Smtp/Service/SpfChecker'
#                prefix: 'App\Smtp\Service\SpfChecker'
#                alias: SmtpSpfChecker
#            DkimSpfChecker:
#                type: attribute
#                is_bundle: false
#                dir: '%kernel.project_dir%/src/Smtp/Service/DkimChecker'
#                prefix: 'App\Smtp\Service\DkimChecker'
#                alias: SmtpDkimChecker
#            DmarcSpfChecker:
#                type: attribute
#                is_bundle: false
#                dir: '%kernel.project_dir%/src/Smtp/Service/DmarcChecker'
#                prefix: 'App\Smtp\Service\DmarcChecker'
#                alias: SmtpDmarcChecker
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
